@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
:root{
  --background-body : #333;
  --background-content : #1d1d1d;
  --text-color : #fff;
}

body{
  margin : 0;
  font-size: 1rem;
  font-family : 'Noto Sans KR', sans-serif;
  background: var(--background-body);
  color: var(--text-color);
}

/* Global */
.container{
  max-width: 50rem;
  margin: 0 auto;
  padding:0 .5rem;
  display: flex;
  align-items: center;
  height:100%;
}

button.icon{
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

/* header */
header.header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height:4.5rem;
  background: var(--background-content);
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  z-index: 10;
}

header .logo-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}

header .logo{
  display: flex;
  align-items: center;
  cursor: default;
}

header .logo span{
  margin-left: .5rem;
}

/* Post */
.article{
  margin: 4rem 0;
}

.post-wrapper{
  width:100%;
}

/* Code */

.code{
  position:relative;
}

.code .copy-icon{
  position: absolute;
  top:1rem;
  right:1rem;
  z-index: 5;
}